<div class="card" style="width: 18rem;" *ngFor = "let post of posts">
  <img [src]="post.avatar" class="card-img-top" alt="...">
  <h5 class="card-title">{{post.username}}</h5>
  <div class="card-body">
    <h5 class="card-title">{{post.title}}</h5>
    <!-- <a [routerLink]="['/post',postid]" class="btn btn-primary">Ver Post</a> -->
    <button type="button" (click)="entrarAlPost(post.id)" class="btn btn-primary">Muestrame mas</button>
  </div>
</div>


