  <div class="card" style="width: 18rem;margin-top: 15px" *ngFor="let user of users">
    <img [src]="user.avatar" class="card-img-top" alt="user.name">      <!-- [] porque viene de typescript -->
    <div class="card-body">
      <h5 class="card-title">{{user.name}}</h5>
      <p class="card-text">{{user.fechaNacimiento}}</p>
      <!-- <a [routerLink]="['/posts']" class="btn btn-primary">Ingresar</a> -->
      <button type="button" (click)="setUserID(user.id)" class="btn btn-primary">Log in</button>
    </div>
  </div>
