<div *ngIf="mostrar == false">
    <h5 class="card-title">Loading</h5>
</div>


<div *ngIf="mostrar == true">
<div class="card" style="width: 18rem;">
  <img [src]="cadena.post.avatar" class="card-img-top" alt="...">
  <h5 class="card-title">{{cadena.post.usuario}}</h5>
  <div class="card-body">
    <h5 class="card-title">{{cadena.post.title}}</h5>
  </div>
</div>

<div class="card" style="width: 18rem;" *ngFor = "let comm of cadena.results">
  <img [src]="comm.usuarioavatar" class="card-img-top" alt="...">
  <h5 class="card-title">{{comm.usuariocomment}}</h5>
  <div class="card-body">
    <h5 class="card-title">{{comm.comment}}</h5>
  </div>
</div>

<form (ngSubmit)="commentPost(forma)" #forma="ngForm">
  <div class="form-group">
    <label for="exampleInputEmail1">Tu comment</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
    placeholder="Tu comment aca" name="comment"
    [(ngModel)]="comentario.comment">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>

